/* Main styles */
html { overflow: hidden; }

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 10px;
}

#content {
	margin-top: 10px;
	position: relative;
	height:80%;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
}

#viewing-panel {
	position: relative;
	height: 100%;
}

#nav-panel {
	position: absolute;
	border: 1px solid #aaa;
	top: 0;
	width: 220px;
	height: 100%;
	background: url(../img/nav-bg.png) no-repeat top right;
	overflow: hidden;
	overflow-y: auto;
}

body.sidebar-right #viewing-panel { margin-right: 230px; }
body.sidebar-right #nav-panel { right: 0; }

body.nosidebar #viewing-panel { margin: 0; }
body.nosidebar #nav-panel { display: none; }

#header {
	padding:0px;
	margin:0px;
	border: 1px solid black;
	height:10%;
	text-align:center;
	background: url(../img/header-bg.png) no-repeat top left;
}

#footer{
	margin-top:5px;
	text-align:center;
	height:5%;
}

/* holly hack for IE to get position:bottom right
   see: http://www.positioniseverything.net/abs_relbugs.html
 \*/
* html #header { height: 1px; }
/* */

#header h1 {
	margin-top:0px;
	vertical-align:center;
	height:100%;
	position:relative;
	top:20%;
	font: bold 30px "Comic Sans MS",Harrington, "Eras Medium ITC", serif;
	color:#669966;
}

#header h1 .dotcom{
	font-size:16px;
}


/* Time Slider */
#sliderbg {
	position: relative;
	background: url(../img/slider.bg.png) 0 0 no-repeat;
	height: 45px;
	width: 275px; 
}

#slider-thumb-start, #slider-thumb-end {
	position: absolute;
	z-index: 40;
}

#slider-thumb-start{}

#slider-thumb-end{}

#slider-thumb-spanner {
	position: absolute;
	background-image: url(../img/slider.spanner.off.png);
	height: 40px;
	width:10px;
	z-index: 30;
	/* cursor: move;*/
}

/* Event Display */
div.marker{
	white-space:nowrap;
	background-color:White;
	padding:1px;
	border: 1px solid #aaa;
	width:200px;
	overflow: hidden;
	text-overflow:ellipsis;
	
	/* move it up so the center is at the correct lattitude */
	position:relative;
	margin-top:-8px;
}

div.marker > span.title {
	font-size:11pt;
	padding:1px;
}
div.marker > div.desc {
	border-top:1px solid black;
	font-size:11pt;
	padding:1px;
	width:300px;
	white-space:normal;
}

div.marker h3, div.polygon h3 {
	margin:0px;
	font-size:12pt;
}

div.marker h3.location {}

div.marker h3.range{}

div.marker div.date-range, div.polygon div.date-range {
	font-size:10pt;
	font-weight:bold;
}

div.marker p, div.polygon p {
	font-size:10pt;

	width:200px;
	max-height:150px;
	overflow:hidden;
	white-space:normal;	
}

#slider-label-start, #slider-label-end{
	color:white;
	background-color:#aaa;
	padding:1px;
	position:absolute;
	top:-1.5em;
	white-space:nowrap;
	font-family:sans-serif;
	font-size:10pt;
	border:1px solid Black;
}

#slider-label-start{
	right:0;
}

#slider-label-end{
	left:0;
}

/*
span.yui-checkbox-button {}
span.yui-checkbox-button-checked{}
span.yui-button span.first-child{}
span.yui-button span.first-child button{}
*/

div.topic-list h2{
	margin:0px;
	text-align:left;
	color:#004F00;
	border-bottom:2px solid #004F00;
	margin-right:15px;
	margin-left:2px;
}

ul.topic-list{
	list-style-type:none;
	padding:2px;
	margin-top:0px;
}

ul.topic-list li{
	margin-top:6px;
}

p.topic-desc{
	background-color:white;
	padding:1px;
	border:1px solid black;
	overflow: hidden;
	margin:0px;
	margin-left:2px;
	margin-right:2px;
	border-top:1px solid #ccc;
}

p.topic-desc cite{
	display:block;
}

p.topic-desc cite a:link,
p.topic-desc cite a:visited,
p.topic-desc cite a:hover{
	color:red;
	text-decoration:none;
}

p.topic-desc cite a:hover{
	text-decoration:underline;
}

.show-hide-events{
	width:16px;
	height:16px;
	margin-bottom:2px;
}

.show-hide-events-checked{
	background-image:url(../img/eye.opened.png);
}

.show-hide-events-unchecked{
	background-image:url(../img/eye.closed.png);
}

a.title-link{
	text-decoration:none;
	color:black;
	padding:2px;
	margin-left:2px;
	margin-bottom:2px;
	background-color:white;
	border:1px solid black;
	position:absolute;
	overflow: hidden;
	white-space:nowrap;
	width:160px;
}

#currently-viewing a.title-link{
	width:145px;
}

.yui-button .push-button{
	border:thin solid #ccc;
	background:url(http://yui.yahooapis.com/2.5.1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
}

.yui-button-hover .push-button{
	background-position:0 -1300px;
}

.yui-button-active .push-button{
	background-position:0 -1700px;
}

.yui-button .first-child button.push-button{
	padding:1px;
}

.yui-button-hover .first-child button.push-button{
	padding:0px;
}

.yui-button-active .first-child button.push-button{
	padding:1px;
}

li .piece{
	position:relative;
}

.add{
	left:180px;
}

.icon{
	left:155px;
}


span.remove{
	left:160px;
}

button.remove{
	width:16px;
	height:16px;
	cursor:pointer;
}

.yui-button button.remove{
	background:url(../img/trashcan.png) no-repeat;
}

.yui-button-hover button.remove{
	background:url(../img/trashcan.over.png) no-repeat;
}